@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: var(--bg-color);
  color: var(--color-text);
  @apply transition-colors duration-700 ;
}





html[data-theme='light'] {
  --color-text : #000;
  --bg-color : #FAFAFA;
  --bg-color-element : #fff;
  --bg-color-hover : rgb(107, 99, 99);
}

html[data-theme='dark'] {
  --color-text : #fff;
  --bg-color :  #202D36;
  --bg-color-element : #2B3743;
  --bg-color-hover : rgb(32, 32, 39)
}